
.navbar-nav a.active {
  background-color: azure !important;
  color: black !important;
}
.cForm {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  row-gap: 20px;
}